API_ID=27806628
API_HASH=25d88301e886b82826a525b7cf52e090
BOT_TOKEN=8185909515:AAHjnkbmtEjmjyg_UUTZrvCUYeWqBajfE7w
LOGGER_ID=
MONGO_DB_URI=
OWNER_ID=8525952693
STRING_SESSION=BQF1s6cAiH_ojYTnUQ1NsyFD1Ulhf7VfMSYaa0VbaHky0PDjO8UyRtV1shBhOMegzTsXXt-ooUZRaiiGvWYmmjalNyBYzNHQjAumEJYbCbyGRl5RJGJdSupmiQBa3dR34AnKDc2_fNzp6PGsWk-qKlzZT8DhaFAlxDZmaha0GwPjmm8aYZlle1UsyZLbM_vx14nmHJT8gyGMbmifTxXh-JpL3_AaRCbnW9jLh0ULf_CSURvd7lg8gc578_4H0KvwSBtIYuyohvmyRC2kKX0-vQCn7X_MfFzqsxrQvdi2yYNWW5WgmzQID91602_GqPQ1-DzSOx5f7wNBPAmqTQ_uvxO5Ww-fLgAAAAGx9uaUAA
